#youtube-extension-speed-indicator {
    position: fixed;
    translate: -50% -50%;
    transform-origin: center center;

    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    padding: 25px;
    border-radius: 50px;

    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f3f3f3;
    z-index: 9999;
    pointer-events: none;
}